{{define "content"}}
<div class="articles-container">
    {{range .BlogEntries}}    
    <article>
        <h2>{{.Title}}</h2>
        {{if .Base64Image}}
        <img src="data:image/png;base64,{{.Base64Image}}" alt="Blog Image" loading="lazy">
        {{end}}
        <p>{{.Content}}</p>
    </article>
    {{end}}
</div>

<aside>
    <div class="search-container">
        <input type="text" placeholder="Search..." id="searchField">
        <button id="searchBtn">Search</button>
    </div>
    <img src="static/images/placeholder_image_1.png" alt="Description 1" loading="lazy">
    <img src="static/images/placeholder_image_2.png" alt="Description 2" loading="lazy">
    <!-- ... add more images as needed ... -->
</aside>
{{end}}