<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
    <link rel="icon" href="{{.Assets.FaviconDataURI}}">
    <style>{{.Assets.CSS}}</style>
</head>

<body>

    <div class="container">
        <header>
            <div class="logo-link">
                <a href="/"><img src="{{.Assets.LogoDataURI}}"
                    alt="blunderbytes.com - Your Daily Dose of Digital Disasters"></a>
            </div>

        </header>
        {{template "navbar" .}}
        <main>
            {{template "content" .}}
        </main>
        <footer>
            <!-- Footer content, e.g. copyrights, links etc. -->
        </footer>
    </div>
</body>

</html>
